/* MUSIC */

div.MusicParallax {

    margin-top: 20px;
    background-color: rgba(255, 255, 255, 0);
    background-position: center;
    background-attachment: fixed;
    width: 100%;
    background-size: contain;

}

.Pictures {
    width: 100%;
}

.Cover div {
    max-width: 30%;
}

.MusicParallaxImage {

    width: auto;
    max-height: 70vh;

}

.MusicImage {

    width: 100%;
    height: auto;

}

.Cover {

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    min-height: 70vh;
    width: 100%;
    background-color: red;

}

.MusicInfo {

    display: flex;
    background-color: rgba(255, 255, 255, 0);
    flex-direction: column;

}

.MusicInfo p {
    text-indent: 10px;
}

.MusicInfo div {

    margin: 0 auto;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgb(255, 255, 255);
    backdrop-filter: blur(3px);
    padding: 10px;

}

.MusicInfo button {

    width: 50px;
    height: 50px;
    margin: 0 auto;
    margin-top: 30px;
    font-size: 20px;
    border-radius: 150%;
    background-color: white;
    border: none;
    transition: .3s;
    outline: none;
    text-align: center;

}

.MusicInfo button:hover {

    transition: .3s;
    cursor: pointer;
    color: white;
    background-color: black;

}

.MusicInfo button {

    width: 40px;
    height: 40px;
    font-size: 20px;
    border-radius: 150%;
    background-color: white;
    border: none;
    transition: .3s;
    outline: none;
    border: 1px solid black;

}

.MusicInfo button:hover {

    transition: .3s;
    cursor: pointer;
    color: white;
    background-color: black;

}



@media only screen 
  and (min-width: 375px) 
  and (max-width: 1130px) {

    .Music {
        display: flex;
        justify-content: center;
    }

    .MusicImage {
        height: 100%;
        width: auto;
        margin-top: 80px;
    }

    .MusicInfo {
        margin-top: -20px;
    }

}