/* PHOTOGRAPHY */

div.PhotographyParallax {

    background-image: url('https://images.pexels.com/photos/310435/pexels-photo-310435.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
    /* background-image: url('https://images.unsplash.com/photo-1495854245347-f3936493f799?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80'); */
    background-attachment: fixed;
    background-size: 100%;
    width: 80%;
    margin-top: 20px;
    background-repeat: no-repeat;
    z-index: 10;

}

.PhotographyBase {

    background-image: url( 'http://p.favim.com/orig/2018/09/07/pixels-pixel-art-gif-8bit-Favim.com-6291845.gif' );
    background-position: center center;

}

.Pictures {

    width: 500px;
    display: flex;
    flex-wrap: wrap;

}

.Pictures .Container {

    display: flex;
    flex-direction: row;
    width: 100%;

}

.Container.one {
    justify-content: flex-start;
}

.Container.two {
    justify-content: center;
}

.Container.three {
    justify-content: flex-end;
}

.Image {

    max-height: 70vh;
    width: auto;

}

.Info {
    backdrop-filter: blur( 3px );
    background-color: rgb(255, 255, 255);
    width: 30%;
    margin: 0 auto;
    padding: 20px;
}

.Info p {
    text-indent: 10px;
}

.Illustrations {
    margin-top: 200px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.Illustration{
    background-image: url('https://i.pinimg.com/564x/bd/0f/35/bd0f35cad69a32abcda249d34a3fd14e.jpg');
}

.Illustration2{
    background-image: url('https://i.pinimg.com/564x/bd/0f/35/bd0f35cad69a32abcda249d34a3fd14e.jpg');
}

@media only screen 
  and (min-width: 1000px )
  and (max-width: 2000px) {

    /* .Container.one {
        z-index: 10;
    }

    .Container.two {
        z-index: 20;
        position: absolute;
    }

    .Container.three {
        z-index: 10;
    } */

}

@media only screen 
  and (min-width: 375px) 
  and (max-width: 1130px) {

    .Container.one {
        display: none;
    }

    .Container.two {
        width: 100%;
        background-color: white;
    }

    .Container.three {
        display: none;
    }

    div.PhotographyParallax {
        margin-top: 10px;
        background-size: auto;
        background-position: center center;
        height: 85vh;
    }

    .Info {

        background-color: rgb(255, 255, 255);
        width: 50%;
        margin: 0 auto;
        padding: 20px;
        margin-top: -20px;

    }

    .Illustration2 {
        display: none;
    }

}