html {
    background-color: rgb(183,41,37);
}

#root {

    background-color: rgb(255, 255, 255);
    font-family: 'Roboto', sans-serif;
    margin: 0 auto;
    width: 100%;
    /* max-width: 1280px; */
    align-items: center;
    justify-content: center;
    text-align: center;

}

.AppWrapper {

    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    /* width: 100%; */
    max-width: 1280px;

}

.MenuContainer {
    background-color: white;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

.BottomSection {

    background-color: rgb(236, 236, 236);
    padding-top: 40px;
    padding-bottom: 40px;
    max-width: 1280px;
    margin: 0 auto;
    border-radius: 10px;
    

}

h1.Projects {

    /* color: red; */
    background-color: rgb(236, 236, 236);
    width: 60%;
    margin: 0 auto;
    margin-top: 40px;
    border-radius: 10px 10px 0px 0px;
    padding-top: 10px;

}

.BottomSection h1 {
    text-align: center;
}

@media only screen 
  and (min-width: 300px) 
  and (max-width: 1250px) {

    .BottomSection {

        border-radius: 0px;
        
    
    }

}