#root {

    background-color: rgb(255, 255, 255);
    font-family: 'Roboto', sans-serif;

}

.AppWrapper {

    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    width: 100%;

}

footer {

    height: 50px;
    width: 100%;
    /* background-color: rgb(255, 0, 0); */
    margin: 0 auto;
    border-top: 2px solid black;

}

.BottomSection {

    background-color: rgb(230, 230, 230);
    background-attachment: fixed;
    width: 100%;
    padding-top: 40px;
    padding-bottom: 40px;

}