/* CARDS VS AI */

.CardsVsAIDiv {

    margin: 0 auto;
    width: 80%;
    align-items: center;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.123);
    backdrop-filter: blur( 5px );

}

.ImgContainer {

    width: 100%;
    display: flex;
    justify-content: center;

}

.CardsVsAIContent {

    display: flex;
    width: 100%;
    justify-content: space-evenly;
    flex-direction: column;
    margin: 0 auto;
    text-indent: 25px;
    /* height: fit-content; */

}

.CardsVsAIImages {

    display: flex;
    justify-content: space-evenly;
    width: 100%;

}

img.CardsVsAiScreenshot {
    width: 231px;
    height: 500px;
    margin: 0 auto;
    border: 4px solid rgb(145, 145, 145);
    border-radius: 30px;
    margin-bottom: 20px;  
}

.CardsVsAiTwo {
    margin: 0 auto;
    width: 150%;
}

.CardsVsAiScreenshotTwo {

    display: flex;
    background-color: rgb(232,232,232);
    align-items: center;
    justify-content: center;
    width: 231px;
    height: 500px;
    margin: 0 auto;
    border: 4px solid rgb(145, 145, 145);
    border-radius: 30px;
    margin-bottom: 20px; 
    overflow: hidden; 
}

.Info {

    display: flex;
    flex-direction: column;
    width: 60%;
    margin: 0 auto;
    text-indent: 25px;
    font-size: 1rem;

}

.GitHub {

    width: 150px;
    margin: 0 auto;
    margin-bottom: 20px;
    margin-top: 20px;
    color: white;
    padding: 5px;
    border-radius: 5px;
    background-color: black;
    font-size: 18px;
    transition: .5s;

}

.GitHub:hover {

    transition: .5s;
    background-color: rgb(183,41,37);
    cursor: pointer;

}

ul li {
    text-indent: 0px;
    text-align: left;
}

/* MEDIA QUERIE */

@media only screen 
  and (min-width: 900px)
  and ( max-width: 5000px ) {

    .CardsVsAIDiv {

        margin: 0 auto;
        width: 90%;
        margin-top: 40px;
        padding: 10px;
        border-radius: 10px;
    
    }

    .CardsVsAIContent {

        display: flex;
        width: 100%;
        justify-content: space-between;
        flex-direction: row;
        margin: 0 auto;
        text-indent: 25px;
        height: fit-content;
    
    }

    .Info {

        padding: 30px;
        justify-content: center;
    
    }

}

@media only screen 
  and (min-width: 300px) 
  and (max-width: 900px) {

    .CardsVsAIDiv {
        background-color: white;
        width: 90%;
        margin-top: 50px;
        margin-bottom: 25px;

    }

    .CardsVsAIDiv h1 {
        padding-top: 20px;
    }

    .CardsVsAI {

        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        margin: 0 auto;

    }

    .CardsVsAIContent {

        display: flex;
        width: 90%;
        margin: 0 auto;
        text-indent: 25px;
        flex-direction: column;
    
    }

    .CardsVsAIImages {

        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: auto;
        height: 100%;

    }

    .Info {

        display: flex;
        flex-direction: column;
        width: 90%;
        margin: 0 auto;
        text-indent: 25px;
        justify-content: space-evenly;
        align-items: center;
        font-size: 1rem;

    }

    .one {

        display: none;

    }

}