/* CONNECT OUT KIDS */

.ConnectKidsDiv {

    margin: 0 auto;
    width: 80%;
    border: 2px solid rgba(0, 0, 0, 0.178);
    /* padding: 10px; */
    border-radius: 10px;
    background-color: white;

}

.ImgContainer {

    width: 100%;
    display: flex;
    justify-content: center;

}

img.ConnectOurKids {

    height: 40%;
    width: 40%;
    display: flex;

}

.ConnectOurKidsContent {

    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-direction: column;
    margin: 0 auto;
    text-indent: 25px;
    height: fit-content;

}

.ConnectOurKidsImages {

    display: flex;
    justify-content: space-evenly;
    width: 100%;

}

img.ConnectOurKidsScreenshot {

    height: 700px;
    width: auto;
    border: 4px solid rgb(145, 145, 145);
    border-radius: 30px;
    padding: 5px;

}

.ConnectOurKidsInfo {

    display: flex;
    flex-direction: column;
    width: 60%;
    margin: 0 auto;
    text-indent: 25px;
    /* justify-content: space-evenly; */
    /* align-items: center; */
    font-size: 1rem;

}

.GitHub {

    width: auto;
    margin-bottom: 20px;
    margin-top: 20px;
    color: white;
    background-color: black;

}

.GitHub:hover {

    color: black;
    background-color: white;

}

/* IPHONE MEDIA QUERIE */

@media only screen 
  and (min-width: 375px) 
  and (max-width: 900px) {

    .ConnectKidsDiv {

        width: 90%;

    }

    img.ConnectOurKids {

        height: 100px;
        width: auto;
    
    }

    .ConnectOurKids {

        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        margin: 0 auto;

    }

    .ConnectOurKidsContent {

        display: flex;
        width: 90%;
        margin: 0 auto;
        text-indent: 25px;
        flex-direction: column;
    
    }

    .ConnectOurKidsImages {

        display: flex;
        padding: 0px;
        margin: 0px;
        flex-direction: row;
        justify-content: space-evenly;
        width: auto;
        height: 100%;

    }

    img.ConnectOurKidsScreenshot {

        height: 400px;
        width: auto;

    }

    .ConnectOurKidsInfo {

        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 0 auto;
        text-indent: 25px;
        justify-content: space-evenly;
        align-items: center;
        font-size: 1rem;

    }

}