/* CONTACT ME */

.Show {

    transition: .5s;
    width: auto;
    min-width: 70px;
    font-size: 18px;

}

.Hide {

    min-width: 70px;
    font-size: 18px;

}

.Dropdown {

    display: flex;
    justify-content: space-around;
    width: 50%;
    margin: 0 auto;
    transition: .5s;
    background-color: rgba(0, 0, 0, 0.562);
    align-items: center;
    border-radius: 0px 0px 10px 10px;
    backdrop-filter: blur( 3px );
    z-index: 10;
    position: relative;

}

.Dropdown.Active {

    transition: .5s;
    margin-bottom: -58px;

}

div.Dropdown.NotActive img {

    transition: .5s;
    margin-top: -56px;

}

.Dropdown.Active img {

    transition: .5s;

}

.Dropdown img {

    height: auto;
    width: 30px;
    padding: 3px;
    background-color: white;
    margin: 10px;
    border-radius: 10px;

}

.MenuContainer {

    background-color: rgba(240, 248, 255, 0);
    backdrop-filter: blur( 3px );

}

/* IPHONE MEDIA QUERRIE */

@media only screen 
  and (min-width: 375px) 
  and (max-width: 900px)
  and (orientation: portrait) { 

    .Dropdown {

        width: 80%;

    }

    .Dropdown.NotActive {

        transition: .5s;
        margin-bottom: 0px;

    }

    .Title p {

        font-size: 12px;

    }

    .Title p.Show {

        font-size: 12px;
        
    }

    .Title p.Hide {

        font-size: 12px;

    }

}