/* HEADER */

h1.Name {

    padding: 24px;
    font-size: 30px;

}

.HomeTitle {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    height: 45px;
    width: 100%;
    margin: 0 auto;
    border-bottom: 2px solid rgb(183,41,37);
    position: relative;
    z-index: 20;
    background-color: white;
    
}

.Title {

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 10px;

}

.Title a {

    text-decoration: none;
    border-radius: 10px 10px 0px 0px;
    padding: 10px 20px;
    transition: .5s;
    color: black;
    font-size: 18px;
    border: 2px solid white;
    
}

a.active {
    background-color: rgb(183,41,37);
    border: 2px solid rgb(183,41,37);
    color: white;
    transition: .5s

}

.Title a:hover {

    cursor: pointer;

}

/* MOBILE MEDIA QUERIE */

@media only screen 
  and (min-width: 300px) 
  and (max-width: 812px) {

    h1.Name {

        /* padding: 10px; */
        font-size: 20px;
    
    }

    .Title a {
        font-size: 15px;
    }

}