/* PERSONALIZE */

.Personalize {

    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
    margin-top: 50px;
    border: 2px solid rgba(0, 0, 0, 0.178);
    padding: 10px;
    border-radius: 10px;
    background-color: white;

}

.Personalize div {

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}

.Personalize h1 {

    color: black;
    font-family: 'Lobster', cursive;
    text-decoration: underline;
    text-decoration-color: red;
    font-size: 50px;

}

img.PersonalizeIMG {

    height: auto;
    max-width: 75%;

}

.Personalize p {

    text-indent: 20px;
    padding: 15px;

}

/* MOBILE MEDIA QUERIE */

@media only screen 
  and (min-width: 375px) 
  and (max-width: 900px) {

    .Personalize {

        width: 80%;

    }

    .Personalize h1 {

        margin: 0 auto;
        padding-bottom: 20px;

    }

    img.PersonalizeIMG {

        height: auto;
        max-width: 100%;
        
    }

    .Personalize p {

        margin-top: 50px;
        width: 80%;
        
    }

}