/* PERSONALIZE */

.Personalize {

    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
    margin-top: 100px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.123);
    backdrop-filter: blur( 5px );

}

.Personalize div {

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}

.Personalize h1 {

    color: black;
    font-family: 'Lobster', cursive;
    text-decoration: underline;
    text-decoration-color: red;
    font-size: 50px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;

}

.Info {

    display: flex;
    flex-direction: column;
    width: 60%;
    margin: 0 auto;
    text-indent: 25px;
    font-size: 1rem;

}

img.PersonalizeIMG {

    height: auto;
    max-width: 75%;

}

.Personalize p {

    text-indent: 20px;
    padding: 15px;

}

ul li {
    text-indent: 0px;
}

.gitHubSection {
    display: flex;
    flex-direction: row;
}

div.gitHubSection button {
    width: auto;
}

/* MOBILE MEDIA QUERIE */
@media only screen 
  and (min-width: 900px)
  and ( max-width: 5000px ) {

    .Personalize {
        width: 90%;
        margin-top: 40px;
        padding: 10px;
    }

    .Personalize div {
        width: 90%;
        margin: 0 auto;
    }

    div.gitHubSection {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
    }

}

@media only screen 
  and (min-width: 300px) 
  and (max-width: 900px) {

    div.gitHubSection {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
    }

    .Personalize {
        background-color: white;
        width: 90%;
        margin-top: 50px;

    }

    .Personalize h1 {

        margin: 0 auto;
        padding-bottom: 20px;

    }

    img.PersonalizeIMG {

        height: auto;
        max-width: 100%;
        
    }

    .Personalize p {

        margin-top: 50px;
        width: 90%;
        
    }

    .PersonalizeInfo {

        width: 90%

    }

}