/* RESUME */

.Res {

    display: flex;
    justify-content: center;
    margin: 0 auto;
    height: auto;
    margin-top: 20px;
    max-width: 80%;

}

@media only screen 
  and (min-width: 375px) 
  and (max-width: 812px)
  and (orientation: portrait) {

    .Res {

        display: flex;
        justify-content: center;
        margin: 0 auto;
        height: auto;
        margin-top: 20px;
        max-width: 100%;

    }

}