/* RESUME */

.Resume {

    width: 100%;
    display: flex;
    justify-content: center;

};

.Resume img {

    margin: 0 auto;
    height: 100%;
    width: auto;
    margin-top: 20px;
    /* margin-bottom: 20px; */

}

/* IPHONE MEDIA QUERIE */

@media only screen 
  and (min-width: 375px) 
  and (max-width: 812px)
  and (orientation: portrait) {

    .Resume {

        width: 100%;
        padding: 0px;
        border-bottom: 2px solid black;

    }

    .Resume img {

        display: flex;
        justify-content: center;
        margin: 0 auto;
        height: auto;
        margin-top: 20px;
        width: 100%;

    }

}