/* LANGUAGES */
.SkillsContainer {

    /* background-image: url('https://images.unsplash.com/photo-1457419655743-2e0acc6b5122?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80'); */
    /* background-image: url('https://images.unsplash.com/photo-1535990379313-5cd271a2da2d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1189&q=80'); */
    background-image: url('https://images.unsplash.com/photo-1535983200711-7264de3b9059?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1066&q=80');
    background-size: 1280px;
    background-position: center center;
    padding-bottom: 100px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    
}

.Languages {

    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 90%;
    padding: 10px;
    margin-top: 100px;
    height: auto;
    align-items: baseline;
    background-color: rgba(209, 209, 209, 0.493);
    backdrop-filter: blur( 5px );
    text-align: center;

}

.TopicsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    /* text-align: center; */
    height: 50px;
    margin: 0 auto;
    margin-bottom: 10px;
    width: 75%;
}

.Topics {
    color: rgb(0, 0, 0);
    font-size: 1.5rem;

}

.Skills {

    display: flex;
    justify-content: left;
    background-color: rgb(255, 255, 255);
    margin: 0 auto;
    margin-bottom: 30px;
    width: auto;
    /* padding-left: 10px; */

}


.Container {

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 0 auto;
    width: 100%;

}

.LanguageContainer {

    display: flex;
    width: 150px;
    margin: 0 auto;
    margin-bottom: 10px;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.719);

}

.LanguageImage {

    height: 40px;
    padding: 5px;
    max-width: 50px;

}

.LanguageText {

    margin: 0 auto;
    display: flex;
    align-items: center;
    min-height: 60px;
    font-size: 1rem;

}

@media only screen 
  and (min-width: 0px) 
  and (max-width: 900px) {

    .Languages {

        margin-top: 50px;
        /* width: 100%; */
        font-size: 1rem;
        padding: 0px;
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
        backdrop-filter: none;
        background-color: rgba(209, 209, 209, 0);

    }

    .Skills {

        justify-content: center;
        padding-left: 0px;

    }

    .Container {

        padding: 0px;
        width: 90%;
        background-color: rgba(209, 209, 209, 0.493);
        backdrop-filter: blur( 5px );
        margin-bottom: 50px;

    }

    /* .Topics {
        font-size: 1rem;
    } */

    .LanguageContainer {

        height: 100%;

    }

    .LanguageContainer img {

        width: 100%;
        height: auto;
        display: none;

    }

    .SkillsContainer {

        background-color: var(--primary-color);
        /* background-image: url('https://images.unsplash.com/photo-1551026921-6113d5b0d46d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=564&q=80');
        background-attachment: initial;
        background-size: cover;
        background-position: center center; */
        padding-bottom: 50px;
        
    }

}