/* RESUME */

img.Res {

    display: flex;
    justify-content: center;
    margin: 0 auto;
    height: auto;
    margin-top: 0px;
    max-width: 80%;

}

.ResumeIframe {
    min-height: 80vh;
    width: 100%;
}

@media only screen 
  and (min-width: 300px) 
  and (max-width: 812px)
  and (orientation: portrait) {

    img.Res {

        display: flex;
        justify-content: center;
        margin: 0 auto;
        height: auto;
        margin-top: -1px;
        max-width: 100%;

    }

}